progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-value::before {
  content: '';
  position: absolute;
  right: 0;

}

span {
	color: black;
	font-size: 22px;
	font-weight: 900;
	margin-left: 10px;
}

span.error {
	color: red;
}


a {
	display: block;
	color: #0000ff;
	margin-top: 20px;
	font-size: 18px;
}

input {
	margin-top: 20px;
}